* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

:root {
    --blue-color: rgb(35, 35, 221);
    --bgcolor: #beb8ac;
    --blue: #2fb7fe;
    --black: #3D3F42;
    --white: #f4f7ff;
    --gray: #d8dce4;
    --lightgray: #8e9095;
}

.img img {
    max-height: 350px;
    border-radius: 40px;
    display: block;
    margin-top: 15px;
    border: 5px solid white;
}

main {
    max-width: 1100px;
    /* padding: 20px 0px; */
    /* background-color: rgb(150, 144, 144); */
    /* border-radius: 30px; */
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);

}

.name {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.name h1 {
    text-align: center;
    font-size: 25px;
    margin: 15px 0px;
}

.name h2 {
    text-align: center;
    font-size: 21px;
    padding-bottom: 10px;
}

.contact p {
    margin-bottom: 7px;
}

.work h4 {
    margin-bottom: 7px;
}



.h3 i {
    width: 25px;
    height: 25px;
    color: var(--blue-color);
    margin: 15px;
    line-height: 24px;
    font-size: 25px;

}

.two-columns {
    display: flex;
    justify-content: center;
    width: 100%;
}

.left-side {
    width: 55%;
    background-color: var(--blue-color);
    background-color: var(--bgcolor);
    background-color: var(--blue);
    background-color: var(--black);
    background-color: var(--white);
    background-color: var(--gray);
    background-color: var(--lightgray);
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 20px;
    color: black;
    background-image: radial-gradient(circle, rgba(238, 238, 241, 1) 0%, rgba(174, 175, 177, 1) 100%);
    border-right: 2px solid lightslategray;

}

.right-side {
    width: 45%;
    background-color: rgb(251, 251, 251);
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 20px;
    background-color: var(--blue-color);
    background-color: var(--bgcolor);
    background-color: var(--blue);
    background-color: var(--black);
    background-color: var(--white);
    background-color: var(--gray);
    background-color: var(--lightgray);
    background-color: #f4f5f7;
    border-left: 2px solid lightslategray;
    padding-bottom: 10px;
}

.h3 {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
    /* background-color: rgb(154, 212, 203); */

    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
    /* border-bottom: 1px solid black; */

}

h3 {
    font-size: 20px;
    text-align: center;
    margin: 15px 0px;
    color: var(--blue-color);
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

li {
    margin: 5px 0px;
}

.margin-right-i {
    margin-right: 10px;
    font-size: 18px;
    color: white;
}

p {
    font-size: 16px;
    line-height: 23px;
}

.contact a {
    text-decoration: none;
    color: black;
    font-style: italic;

}

li::marker {
    color: var(--blue-color);

}

.tech-table {
    display: flex;
}

.contact span {
    font-weight: bold;
}

.left {
    margin-left: 15px;
}

.educations {
    max-width: 1100px;
    padding: 20px;
    /* background-color: rgb(189, 199, 98); */
    /* background-image: url(source/bg2.jpg);
    background-size: cover;
    background-position: center; */
    color: white;
    background-color: var(--blue-color);
    background-color: var(--bgcolor);
    /* background-color: var(--blue);
    background-color: var(--black);
    background-color: var(--white);
    background-color: var(--gray);
    background-color: var(--lightgray); */
    background-image: linear-gradient(180deg, rgba(238, 238, 241, 1) 0%, rgba(174, 175, 177, 1) 100%);
    border-top: 2px solid lightslategray;
    border-left: 2px solid lightslategray;
    border-right: 2px solid lightslategray;
}

.school {
    margin: 20px 0px;

}

.school p {
    font-size: 16px;
}

.school h4,
p,
h5 {
    margin-bottom: 7px;
}

footer {
    bottom: 25px;
    text-align: justify;
    font-size: 12px;
    padding: 15px 30px;
    /* background-color: rgb(199, 183, 183);
    background-color: var(--blue-color);
    background-color: var(--bgcolor);
    background-color: var(--blue);
    background-color: var(--black);
    background-color: var(--white);
    background-color: var(--gray);
    background-color: var(--lightgray); */
    border-bottom: 2px solid lightslategray;
    border-left: 2px solid lightslategray;
    border-right: 2px solid lightslategray;
}